#app {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#app[theme=light] {
    color: #000000
}

#app[theme=dark-mode] {
    color: #ffffff
}

#side {
    width: 0;
}

#main {
    width: 100%;
}

#header {
    height: 50px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50px 1fr 50px;
}

#title {
    width: 100%;
    align-items: center;
    text-align: center;
}