#app[theme=light] {
    --color: #000000;
    --border-color: #222222;
    --hover-color: #f6f8fa;
    --background-color: #f2f2f2;
}

#app[theme=dark-mode] {
    --color: #ffffff;
    --border-color: #dddddd;
    --hover-color: #08060f;
    --background-color: #1c0900;
}


#app {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: var(--color)
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 300px 1fr 300px;
    border-bottom: 1px solid var(--border-color);
    line-height: 30px;
}

#title {
    width: 100%;
    align-items: center;
    text-align: center;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    float: left;
    min-width: 50px;
    padding: 0 5px;
    cursor: pointer;
    text-align: center;
}

.menu li:hover {
    background-color: var(--hover-color);
}

#main {
    position: absolute;
    top: 31px;
    left: 0;
    right: 0;
    bottom: 31px;
    display: flex;
}

#side {
    width: 300px;
    border-right: 1px solid var(--border-color);
}

#container {
    width: 100%;
}

#footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
    border-top: 1px solid var(--border-color);
    line-height: 30px;
}

.vditor-reset {
    color: #b9b9b9 !important;
}

#side-tree {
    background-color: rgba(255, 255, 255, 0);
    color: var(--color);
}

.el-tree-node:focus>.el-tree-node__content {
    background-color: var(--hover-color) !important;
}

.el-tree-node__content:hover {
    background-color: var(--hover-color) !important;
}

.el-input__inner {
    background-color: rgba(255, 255, 255, 0);
}

.custom-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 8px;
}

.context-menu {
    width: 200px;
    position: absolute;
    background-color: var(--background-color);
    color: var(--color);
    padding: 3px;
}

.context-menu .context-menu-item:hover {
    background-color: var(--hover-color);
}

.context-menu .context-menu-item {
    padding: 3px 6px;
    cursor: pointer;
}